@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-bebas: "Bebas Neue", sans-serif;
    --font-size: 1em;
    --gutter: calc(var(--font-size) * 2);
    --yellow: rgb(255, 184, 0);
    --orange: rgb(255, 108, 75);
    --green: rgb(66, 255, 119);
    --pink: rgb(205, 75, 147);
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: underline;
}


body {
    font-family: var(--font-bebas);
    padding-bottom: calc(3 * var(--gutter));
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    padding-top: var(--gutter);
    row-gap: var(--gutter);
}

h1 {
    font-size: calc(3.2 * var(--font-size));
    padding-bottom: calc(2.25 * var(--gutter));
    line-height: calc(0.85 * var(--font-size));
}

.project-title {
    font-size: 8vw;
    display: inline-block;
}

.project-illustration {
    scale: 135%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: calc(8 * var(--gutter));
}

#italics-link {
    margin-left: calc(4.25 * var(--gutter));
}

#italics-illustration {
    margin-top: -8.5em;
    margin-left: -3.2em;
}

#everything-easy-link {
    margin-top: calc(2 * var(--gutter));
    width: 5em;
}

#everything-easy-illustration {
    margin-top: -18.5em;
    margin-left: 3.15em;
    margin-bottom: 10em;
}

#type-latin-link {
    margin-left: 0.7em;
}

#type-latin-illustration {
    margin-top: -3em;
}

#nirvaan-link {
    margin-left: 4.1em;
}

#nirvaan-illustration {
    scale: 150%;
    margin-top: -8.7em;
}

/* desktop: on hover image appears + link color */

